.page-end {
  background: #101828;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 220px;
  margin-bottom: 48px;
}
.page-end ul {
  width: 100%;
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  row-gap: 12px;
  margin-top: 0;
}
.page-end li {
  height: 24px;
}
.page-end li:nth-child(-n+4) {
  color: #98A2B3;
}
.page-end img {
  margin-right: 8px;
}
@media screen and (max-width: 1023px) {
  .page-end {
    position: absolute;
    width: 100%;
    margin-left: -108px;
  }
}
@media screen and (max-width: 767px) {
  .page-end {
    height: 352px;
    margin-bottom: 0;
  }
  .page-end p {
    margin-bottom: 32px;
  }
  .page-end ul {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
  }
  .page-end li:nth-child(1), .page-end li:nth-child(5) {
    grid-column: 1;
  }
  .page-end li:nth-child(2), .page-end li:nth-child(6) {
    grid-column: 2;
  }
  .page-end li:nth-child(3), .page-end li:nth-child(7) {
    grid-column: 1;
  }
  .page-end li:nth-child(4), .page-end li:nth-child(8) {
    grid-column: 2;
  }
  .page-end li:nth-child(1), .page-end li:nth-child(2) {
    grid-row: 1;
  }
  .page-end li:nth-child(5), .page-end li:nth-child(6) {
    grid-row: 2;
  }
  .page-end li:nth-child(3), .page-end li:nth-child(4) {
    grid-row: 3;
  }
  .page-end li:nth-child(7), .page-end li:nth-child(8) {
    grid-row: 4;
  }
}
