.head {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background: white;
  padding: 16px 24px;
  border-radius: 12px;
  z-index: 1000;
  width: 1124px;
  box-shadow: 0 1px 2px 0 grey;
}
.head .links ul,
.head .contacts ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
}
.head .logo {
  width: 120px;
  height: 24px;
}
.head .links li,
.head .contacts li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.head .links a {
  text-decoration: none;
  color: black;
}
.head .contacts img {
  margin-right: 8px;
}
.head .mobile-menu {
  display: none;
}
@media screen and (max-width: 1240px) {
  .head {
    width: 95%;
    margin-left: -70px;
  }
  .head .links ul,
  .head .contacts ul {
    gap: 8px;
    padding-left: 4px;
  }
  .head .links {
    width: 300px;
  }
}
@media screen and (max-width: 1023px) {
  .head {
    width: calc(100% - 8px);
    left: 4px;
    right: 4px;
    padding: 24px 32px;
    height: 90px;
    top: 16px;
    margin: 0;
  }
  .head .links {
    display: none;
  }
  .head .contacts .phone {
    display: none;
  }
  .head .mobile-menu {
    width: 60px;
    height: 40px;
    display: flex;
  }
  .head .logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -25%);
  }
}
@media screen and (max-width: 767px) {
  .head {
    padding: 36px 16px;
    width: calc(100% - 16px);
    left: 8px;
    right: 8px;
  }
  .head .contacts {
    display: none;
  }
  .head .mobile-menu {
    width: 40px;
    height: 20px;
  }
}
