.info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: -100px;
}

.info div {
    width: 600px;
    margin-top: 24px;
}

.cont-form {
    width: 676px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 grey;
    padding: 10px 30px 30px 30px;
}

.cont-form h2 {
    width: 500px;
}

.info img {
    z-index: -100;
}

.info-text {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-top: 56px;
}

.cont-info {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 10px
}


.cont-info button {
    padding: 11px 24px;
    background: #2D66EE;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: left;
}
