.info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: -100px;
}

.info div {
    width: 600px;
    margin-top: 24px;
}

.cont-form {
    width: 676px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 grey;
    padding: 10px 30px 30px 30px;
}

.cont-form h2 {
    width: 500px;
}

.info img {
    z-index: -100;
}

.info-text {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-top: 56px;
}

.cont-info {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 10px
}


.cont-info button {
    padding: 11px 24px;
    background: #2D66EE;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: left;
}

@media screen and (max-width: 1023px) {
    .info div {
        width: 425px;
    }

    .cont-form {
        width: 380px;
        padding-bottom: 32px;
    }

    .cont-form h2 {
        width: 296px;
    }

    .cont-info {
        display: flex;
        flex-direction: column;
        width: 425px;
        gap: 32px;
    }

    .input-div input {
        width: 220px;
    }

    .cont-info button {
        padding: 11px 24px;
        width: 156px;
        height: 40px;
    }
}

@media screen and (max-width: 767px) {
    .info {
        width: 300px;
        margin-left: -80px;
    }

    .info div {
        width: 380px;
    }

    .cont-form {
        width: 380px;
        margin-top: 150px;
        background: white;
    }

    .cont-info {
        width: 200px;
    }

    .cont-info div {
        width: 200px;
    }

    .info img {
        position: relative;
        width: 400px;
        left: -430px;
        margin-top: 370px;
        z-index: -1;
        object-fit: cover;
    }
}