.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .info-text {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-top: 56px;

    div {
      width: 600px;
      margin-top: 24px;
    }

    .cont-form {
      width: 676px;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 grey;
      padding: 10px 30px 30px 30px;
      background: white;

      h2 {
        width: 500px;
      }

      .cont-info {
        display: flex;
        flex-direction: row;
        gap: 70px;

        .input-div {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        button {
          padding: 11px 24px;
          background: #2D66EE;
          color: white;
          border: none;
          border-radius: 8px;
          text-align: left;
        }
      }
    }
  }

  .background-container {
    display: flex;
    width: 812px;
    height: 900px;
    z-index: -1;
    margin-left: 120px;
    gap: 10px;
    overflow-y: clip;

    .background-scroll {
      width: 300px;
      height: 200%;
      transform: rotate(-12deg);

      &.left-scroll {
        animation: scrollUp 20s linear infinite;
      }

      &.right-scroll {
        animation: scrollDown 20s linear infinite;
      }

      img {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    margin-left: -70px;

    .info-text {
      div {
        width: 384px;
      }

      .cont-form {
        width: 384px;
        padding-bottom: 32px;

        h2 {
          width: 296px;
          font-size: 16px;
        }

        .cont-info {
          flex-direction: column;
          gap: 32px;

          .input-div input {
            width: 220px;
          }

          button {
            padding: 11px 24px;
            width: 156px;
            height: 40px;
          }
        }
      }
    }

    .background-container {
      width: 400px;
      margin-left: 200px;
    }
  }

  @media screen and (max-width: 767px) {
    margin-left: 24px;
    margin-right: 24px;
    justify-content: center;

    .info-text {
      gap: 400px;

      .cont-form {
        width: 380px;
        margin-top: 150px;
        background: white;
      }
    }


    .background-container {
      position: absolute;
      top: 372px;
      width: 300px;
    }
  }
}

@keyframes scrollUp {
  0% {
    transform: rotate(-12deg) translateY(0);
  }
  100% {
    transform: rotate(-12deg) translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: rotate(-12deg) translateY(-50%);
  }
  100% {
    transform: rotate(-12deg) translateY(0);
  }
}