.industries {
  margin-bottom: 120px;

  h1 {
    width: 600px;
    font-size: 36px;
  }

  .industries-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    div {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

.projects {
  .all-projects-info {
    width: 600px;
    margin-bottom: 40px;
  }

  .projects-list {
    list-style-type: none;
    display: flex;
    padding: 0;

    li {
      width: auto;
      padding: 16px;
    }

    button {
      padding: 11px 24px;
      background: #2D66EE;
      color: white;
      border: none;
      border-radius: 8px;
      width: 200px;
      height: 40px;
    }

    :last-child {
      margin-left: auto;
    }
  }

  .current-project {
    display: flex;
    gap: 24px;

    .project-info {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .project-name {
        font-size: 36px;
      }

      .place-work {
        display: flex;
        gap: 32px;

        p {
          display: flex;
          gap: 8px;
        }
      }

      .project-stats {
        display: flex;
        gap: 48px;
        width: 252px;

        h2 {
          margin-bottom: 8px;
        }

        p {
          font-size: 13px;
          color: #667085;
        }

        .projects-user-growth {
          width: 80px;
        }

        .projects-active-users {
          width: 128px;
        }
      }

      .project-links {
        width: 300px;
        gap: 16px;
      }
    }
  }
}
