@import "./global.css";
@import "./fonts.css";
@import "./utils.css";
@import "./head.css";
@import "./footer.css";
@import "./info.css";
@import "./mobile_menu.css";

body {
    /*background: burlywood;*/
    padding-left: 108px;
    padding-right: 108px;
    padding-top: 24px;
    margin: 0;
}

.blue {
    color: blue;
}
