@import "./global.css";
@import "./fonts.css";
@import "./utils.css";
@import "./head.css";
@import "./footer.css";
@import "./info.css";
@import "./mobile_menu.css";
@import "./technologies.css";
@import "./industries.css";
@import "./projects.css";
@import "./discuss-form.css";
@import "./dev-stages.css";
@import "./team.css";
@import "./booking.css";
@import "./faq.css";

body {
    /*background: burlywood;*/
    padding-top: 24px;
    padding-right: 108px;
    padding-left: 108px;
    margin: 0;
    overflow-x: hidden;
}

.blue {
    color: blue;
}

hr {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}

@media screen and (max-width: 1023px) {
    body {
        padding-top: 16px;
        padding-right: 0;
        padding-left: 32px;
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 20px;
        padding-right: 0;
        padding-left: 16px;
    }
}