.team {
  display: grid;
  gap: 24px;
  margin-top: 80px;
  grid-template-columns: 1fr 1fr;

  :not(:last-child) {
    grid-column: 1;
  }

  :last-child {
    grid-column: 2;
    grid-row: 1 / 6;
  }

  .team-info {
    height: 112px;
    display: flex;
    gap: 10px;

    h2 {
      font-size: 48px;
      margin-top: 0;
      margin-bottom: 8px;
    }

    p {
      color: #667085;
    }

    div {
      width: 184px;
    }
  }

  h1,
  .company-description,
  .team-description {
    margin: 0;
  }

  .team-photo {
    @media screen and (max-width: 1320px) {
      img {
        width: 500px;
      }
    }
  }

  @media screen and (max-width: 1240px) {
    .team-info {
      h2 {
        font-size: 32px;
      }
    }

    grid-template-columns: 400px 400px;
  }

  @media screen and (max-width: 1023px) {
    margin-top: 40px;
    grid-template-columns: 1fr;
    width: 700px;

    .company-description {
      width: 420px;
      font-size: 14px;
    }

    :last-child {
      grid-column: 1;
      grid-row: 3;
    }

    .team-photo {
      margin: 0;

      img {
        width: 700px;
      }
    }

    .team-info {
      margin-left: 30px;
      width: 612px;
      gap: 16px;

      h2 {
        font-size: 48px;
      }
    }

    .team-description {
      margin-left: 30px;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 767px) {
    margin-top: 28px;
    width: 428px;

    .company-description {
      width: 376px;
    }

    .team-photo {
      margin: 0;

      img {
        width: 392px;
      }
    }

    .team-info {
      margin-left: 0;
      width: 372px;
      gap: 36px;
      height: 60px;

      h2 {
        font-size: 28px;
      }

      p {
        font-size: 14px;
      }
    }

    .team-description {
      width: 360px;
      margin-left: 0;
    }
  }
}
